:root{
   --prin-naranja:rgb(235,86,12);
   --sec-naranja: rgb(234,89,39);
   --prin-contra: rgb(0,188,212);/*ocsuro*/
   --sec-contra: rgb(20,217,243);
   --celeste-ad: rgb(127,203,212);
   --blanco: rgb(249,249,249);
   --plateado: rgb(225,225,225);
   --negro: rgb(30,30,30);
   --naranja-claro: #fdeee7; 
   --naranja-oscuro: rgb(220,77,21);  
   --plomo-osc:#eeeeee;
   --plomo-osc2: #777777;
}
*, ::after, ::before{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: Arial, Helvetica, sans-serif;
   width: 100%;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
header{
   background-color: var(--blanco);
   width: 100%;

   display:grid;
   grid-template-columns: repeat(5, 1fr);
   justify-content: space-around;
   align-items: center;
}
header .logo{
   margin: 10px auto;
   width: 250px;

   align-self: center;
}
header nav{
   grid-column: 2 / 5;
   
   display: grid;
   grid-template-columns: repeat(4,1fr);
}
header nav a{
   color: var(--prin-contra);
   text-decoration: none;
   text-align: center;
   font-size: 18px;
   border-right: 1px solid var(--plomo-osc);
}
header nav a:nth-last-child(1){
   border-right: none;
}
header nav a:hover{
   text-decoration: underline;
}
header .contactos{
   text-align: left;

   display: grid;
   grid-template-columns: 15% 85%;
   grid-template-rows: repeat(2,auto);
   justify-content: center;
   align-items: center;
   /* gap: 0 .3em; */
}
header .contactos .icon-contacto{
   width: 40px;
   height: 40px;
   grid-row: 1 / 3;
   grid-column: 1 / 2;
   border: 2px solid var(--plomo-osc2);
   border-radius: 50%;
   color: var(--plomo-osc2);
   cursor: pointer;
}
header .contactos .icon-contacto:hover{
   color: var(--prin-contra);
   border-color: var(--prin-contra);
   box-shadow: -1px -2px 4px var(--plateado);
}
header .contactos .icon-contacto span{
   font-size: 2em;
   font-weight: bold;
   line-height: 40px;
}
header .contactos h4{
   color: var(--celeste-ad);
   font-size: 20px;
}
header .contactos p{
   font-size: 13px;
}
@media screen and (max-width:1200px){
   header{
      grid-template-rows: unset;
   }
   header .logo{
      grid-column: 1 / 3;
   }
   header nav{
      grid-column: 3 / 6;
   }
   header .contactos{
      display: none;
   }
}

/* BARRA */
.barra{
   width: 100%;
   height: 70px;
   background-color: var(--prin-naranja);
   display: grid;
   justify-items: center;
   grid-template-columns: repeat(3,minmax(200px, 1fr));
   align-items: center;
}

.barra .buscar{
   grid-column: 2 / 3;
   position: relative;
}
.barra .buscar input{
   border: 2px solid var(--plomo-osc);
   border-radius: 30px;
   height: 32px;
   width: 300px;
   font-size: 15px;
   color: var(--negro);
   background-color:  var(--naranja-claro);
   font-weight: 400;
   padding-left: 15px;
   padding-right: 20px;
}
.barra .buscar input:focus{
   outline: none;
   background-color: white;
}
.barra .buscar span{
   background-color: transparent;
   font-size: 18px;
   color: var(--prin-naranja);
   position: absolute;
   right: 6px;
   top: 8px;
   cursor:pointer;
}
.barra .icono__barra{
   color: var(--naranja-claro);
   font-weight: bold;
   width: 150px;
   height: 70px;
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: .5rem;
   cursor: pointer;
}
.barra .icono__barra:hover{
   background-color: var(--naranja-oscuro);
}
.barra .icono__barra h4{
   display: inline-block;
}

/*PRODUCTOS POR CATEGORIA*/
.categoria{
   width: 80%;
   margin:10px auto;
   display: grid;
   background-color: #fff;
   grid-template-columns: repeat(5,minmax(100px, 1fr));
   grid-template-rows: 10% 90%;
   grid-auto-flow: row; 
   grid-template-areas: 
      "titulo titulo titulo titulo titulo"
      "card-1 card-2 card-3 card-4 card-5";
}
.categoria .titulo{
   font-size: 25px;
   color: var(--negro);
   margin: 10px;
   grid-area: titulo;
}
.categoria .card{
   width: 100%;
   height: 370px;
   border: 1px solid var(--plateado);
   cursor:pointer;
   background-color: var(--blanco);
}
.categoria .card:hover{
   transform: scale(1.05);
   z-index: 10;
}
.categoria .card .img{
   width: auto;
   height: 220px;
}
.categoria .card h4{
   text-transform: uppercase;
   padding: 10px 15px;
   color: var(--negro);
}
.categoria .card p{
   padding: 8px;
   text-align: left;
}
.categoria .card p > span{
   color: var(--prin-naranja);
}
.categoria .card h3{
   padding: 10px;
   text-align: right;
   color: var(--negro);
   font-weight: bold;
}


.galeria{
   width: 100%;
   height: auto;
   margin: 30px 0px;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   grid-template-rows: repeat(2,1fr);
}
.galeria .img{
   height: 450px;
}
.galeria .img-large{
   grid-column: 2 / 4;
   grid-row: 1 / 3;
}

/* FOOTER */
footer{
   width: 100%;
   height: 300px;
   margin-top: 70px;
   border-top: 1px solid var(--plomo-osc);
   background-color: var(--blanco);
   display:grid;
   grid-template-columns: repeat(4,1fr);
   grid-template-rows: 100%;
   align-items: center;
   justify-items: center;
}
footer div h1{
   color: var(--negro);
   font-size: 20px;
}
footer div a{
   display: block;
   font-size:17px;
   text-decoration: none;
   color: var(--sec-contra);
   padding: 10px 0px;
}
footer div a:hover{
   color: var(--prin-contra);
   text-decoration: underline;
}
footer .nosotros{
   grid-column: 1 / 2;
}
footer .servicio{
   grid-column: 2 / 3;
}
footer .redes{
   grid-column: 3 / 5;
}

footer .redes .iconos-redes{
   width: 450px;
   height: 100px;
   background-color: var(--plateado);
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   justify-items: center;
   align-content: center;
}
footer .redes .iconos-redes i{
   font-size: 42px;
   color: var(--plomo-osc2);
   -webkit-filter: drop-shadow(1px 1px 1px var(--negro));
   filter:drop-shadow(1px 1px 1px var(--negro)); 
   cursor:pointer;
}
footer .redes .iconos-redes i:hover{
   color: var(--sec-contra);
}
img{
   object-fit: cover;
   width: 100%;
   height: 100%;
}